label.clickable-tab {
  min-width: 100%;
}

#alertCompanyName, #eventCompanyName {
  background-color: #f4f4f4;
}

label[for="emailAddress"], label[htmlFor="emailAddress"] {
  margin: 0px;
}

.center-text {
  text-align: center;
}

li::before {
  content: "" !important;
  content: none !important;
}

.extra-right-space {
  margin-right: 0.5em;
}
